body{
    background-color: #f8f9fa!important;
}

header{
    background-color: white;
}



#footerprincipal{
    background: #152F4F;
    color:white;        
}
#cajas{
    width: 60%;
    height: 60%;
    margin-left: 200px;

}

#buscarpag {
    margin-left: 200px;

}

#iniciarsesion {
    margin-left: 480px;
}

#logo {
    margin-right: 0px;
}

#navbarDropdown{
    color:black;
    margin-right: 0px;
}

h3{
    
    height: 80%;
}
h4{
    text-align: center;
}


#menuu{
    height: 50%;
}

h1 {
    
    color: rgb(10, 10, 10);
    height: 100%;
    text-align: center;
}

#registrarsee{
    margin-left:480px;

}

#subirobraa{

    margin-left:400px;

}

#apiwsp{
    
    text-align: center;

}



.imagengaleria{
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 30px;

}

.containerr{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


