{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!--CSS-->
    <link rel="Stylesheet" href="{% static 'core/css/estilos.css'%}">

    <title>Listado desde la API</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h3>Listado de Productos desde la API</h3>
        </div>
        <div class="row">
            <table class="table" id="productos">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Foto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro in productos %}
                    <tr>
                        <td>{{pro.cod_producto}}</td>
                        <td>{{pro.nombre}}</td>
                        <td>{{pro.precio}}</td>
                        <td>{{pro.stock}}</td>
                        <td>{{pro.descripcion}}</td>
                        <td>{{pro.foto}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <a href="{% url 'lista_productos' %}" target="blank">Ir a la API</a>
        </div>

        <div class="container">
            <br><a href="{% url 'index' %}">INICIO</a>
        </div>
    

    <script src="ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
    <script src="maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>
    <script src="{% static 'core/js/script.js' %}"></script>
    <script>
        $(document).ready(function () {
            $.getJSON('127.0.0.1:8000/api/lista_productos', function (data) {
                $.each(data.categories, function (i, item) {
                    $('#productos').append("<tr><td>" + item.cod_producto + "</td><td>" +
                        item.nombre + "</td><td>" + item.precio + "</td><td>" + item.stock + "</td><td>" + item.descripcion + "</td><td><img src='" + item.foto + "'>" + "</td></tr>");

                });
            }).fail(function () {
                console.log('Error al consumir la API!');
            });
        });

    </script>
    </div>
</body>

</html>