*{margin:0Px;padding:0Px}
header, section, footer, aside, nav, article, figure
{display: block;}

/*Fondo de la pagina*/
body {background-color: #eaf5f2;
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;}

/*Estructura de la pagina*/
header {background-color: #eaf5f2;}
nav {background-color: #198064;}
section{background-color: #ffffff3a;}
footer{background-color: rgba(58, 25, 241, 0);}

.container{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagengaleria{
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 30px;
}

h6 {
    text-align: center;
    margin: 50 px;

}
